* {
    padding: 0;
    margin: 0;
}

* {
    font-family: "Young Serif", serif;
}

.container {
    padding: 45px;
}

.section-one {
    background-color: black;
    color: white;
    padding: 30px;
    font-size: larger;
}

.section-one__name,
.section-one__role,
.section-one__contact {
    padding: 5px;
}

.section-one__contact {
    background-color: orangered;
    width: 80px;
    color: white;
    border: none;
    text-decoration: none;
    padding: 6px;
    margin-left: 2px;
    margin-top: 5px;
    display: inline-block;
    border-radius: 4px;
    text-align: center;
}

.section-one__name {
    font-size: 47px;
}

.section-one__role {
    font-size: 27px;
}

.section-two,
.section-three,
.section-four,
.section-five {
    margin-top: 20px;
}

.section-two__desc,
.section-three__desc,
.section-four__desc,
.section-five__desc {
    margin-top: 10px;
}


.section-three {
    display: inline-block;
    width: 200px;
    height: 200px;
    background-color: rgb(91, 148, 235);
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    vertical-align: top;
}


.section-four {
    display: inline-block;
    height: 200px;
    width: 700px;
    background-color: rgb(243, 99, 16);
    margin: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    /* vertical-align: top; */
}

.section-five {
    background-color: black;
    color: white;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.container1{
    padding: 45px;
}

.sectionn-one{
    background-color: black;
    color: white;
    padding: 30px;
    font-size: larger;
}


.sectionn-one__name,
.sectionn-one__role,
.sectionn-one__home {
    padding: 5px;
}

.sectionn-one__home {
    background-color: orangered;
    width: 80px;
    color: white;
    border: none;
    text-decoration: none;
    padding: 6px;
    margin-left: 2px;
    margin-top: 5px;
    display: inline-block;
    border-radius: 4px;
    text-align: center;
}


.sectionn-two,
.sectionn-three{
    margin-top: 20px;
}


.sectionn-three {
    background-color: black;
    color: white;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}


.InputBtn{
    background-color: orangered;
    width: 80px;
    color: white;
    border: none;
    text-decoration: none;
    padding: 6px;
    margin-left: 2px;
    margin-top: 5px;
    display: inline-block;
    border-radius: 4px;
    text-align: center;
}

.sectionn-two__desc input{
    margin: 5px;
    padding: 10px;
    outline: none;
}

.sectionn-two__desc textarea{
    margin: 5px;
    padding: 10px;
}


.sectionn-one__name{
    font-size: 47px;
}


.sectionn-one__role{
    font-size: 27px;
}

.sectionn-two__input{
    border: none;
    border-bottom: solid black 1px;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.sectionn-two__textarea{
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.2);
}

